Invalidate already-stored responses with Last-Modified header

[Section 4 of RFC 7234](https://tools.ietf.org/html/rfc7234#section-4) has this paragraph:

> When more than one suitable response is stored, a cache MUST use the most recent response (as determined by the Date header field). It can also forward the request with "Cache-Control: max-age=0" or "Cache-Control: no-cache" to disambiguate which response to use.

It mentioned about invalidating already-stored responses with `Date` or `Cache-Control` headers.

What's about the `Last-Modified` header? Can I use it for the same purpose?