It seems pretty clear to me; `:path` contains the path and query parts of the target URI. HTTP/1.1's messaging requirements don't apply to HTTP/2.

Would it be correct to say that:

HTTP/1.1 not via a proxy (preferred):
```
GET /path HTTP/1.1
Host: foo.com
```

HTTP/1.1 via proxy or not (due to RFC 7230 Section 5.3.2: "To allow for transition to the absolute-form for all requests in some future version of HTTP, a server MUST accept the absolute-form in requests, even though HTTP/1.1 clients will only send them in requests to proxies."):
```
GET http://foo.com/path HTTP/1.1
Host: fieldignored.com
```

HTTP/2 either via a proxy or not:
```
:method GET
:scheme http
:authority foo.com
:path /path
```

i.e. HTTP/1.1 message request serialization *needs* to know if it's going via a proxy or not as part of message construction (at least if you want to use the preferred form?)? Whereas HTTP/2 headers are invariant upon use of proxy or not?

I think so.

The Host header field in HTTP/2 is only for translation cases.

If you get

```
GET /path HTTP/1.1
Host: foo.com
```

You would forward as:

```
:method GET
:scheme http
:path /path
host foo.com
```

But if you get the unlikely:

```
GET http://foo.com/path HTTP/1.1
Host: fieldignored.com
```

Then you would forward as:

```
:method GET
:scheme http
:authority foo.com
:path /path
host fieldignored.com
```

That was the reasoning behind the change.  In practice, if `:authority` is there, that is what servers should use and it should be used where feasible, but there is a potential signal loss if you don't use `host` when forwarding requests.  (There is also a potential security exposure with conflicting values.)

> That was the reasoning behind the change.

Which change is that?

Is there any other situation that host should be sent? Should the host header be sent in http2 even when it matches `:authority`?

I should have said "design", not "change".  Whether you send the host header field depends on whether you are forwarding a request or originating one.  No sense in setting it unless you are copying from another request.